$color-Blue: #0079FF;
$color-Grey: #697C9A;
$color-GreyBlue: #4B6A9B;
$color-DarkGrey: #2B3442;
$color-LightGrey: #F6F8FF;
$color-White: #FEFEFE;
$color-Red: #F74646;

body {
    margin: 0;
    font-family:  "Space Mono", monospace;
    min-height: 100vh;
    background-color: $color-LightGrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.38rem 6.4% 6rem;
}

p {
    color: $color-GreyBlue;
    line-height: 1.9;
}


html {
    font-size: 13px;
}


@media (min-width:768px)
{
    html 
    {
        font-size: 15px;
    }
}